/**
 * Primary Colors
 */
:root {
	--primary-green-1: hsl(170, 97%, 15%);
	--primary-green-2: hsl(168, 80%, 23%);
	--primary-green-3: hsl(166, 72%, 28%);
	--primary-green-4: hsl(164, 71%, 34%);
	--primary-green-5: hsl(162, 63%, 41%);
	--primary-green-6: hsl(160, 51%, 49%);
	--primary-green-7: hsl(158, 58%, 62%);
	--primary-green-8: hsl(156, 73%, 74%);
	--primary-green-9: hsl(154, 75%, 87%);
	--primary-green-10: hsl(152, 68%, 96%);
}

/**
 * Neutral Colors
 */
:root {
	--neutral-1: hsl(209, 61%, 16%);
	--neutral-2: hsl(211, 39%, 23%);
	--neutral-3: hsl(209, 34%, 30%);
	--neutral-4: hsl(209, 28%, 39%);
	--neutral-5: hsl(210, 22%, 49%);
	--neutral-6: hsl(209, 23%, 60%);
	--neutral-7: hsl(211, 27%, 70%);
	--neutral-8: hsl(210, 31%, 80%);
	--neutral-9: hsl(212, 33%, 89%);
	--neutral-10: hsl(210, 36%, 96%);
}

/**
 * Supporting Colors
 */
:root {
	--supporting-blue-1: hsl(205, 100%, 21%);
	--supporting-blue-2: hsl(205, 87%, 29%);
	--supporting-blue-3: hsl(205, 82%, 33%);
	--supporting-blue-4: hsl(205, 76%, 39%);
	--supporting-blue-5: hsl(205, 67%, 45%);
	--supporting-blue-6: hsl(205, 65%, 55%);
	--supporting-blue-7: hsl(205, 74%, 65%);
	--supporting-blue-8: hsl(205, 84%, 74%);
	--supporting-blue-9: hsl(205, 97%, 85%);
	--supporting-blue-10: hsl(205, 79%, 92%);

	--supporting-purple-1: hsl(263, 85%, 18%);
	--supporting-purple-2: hsl(262, 72%, 25%);
	--supporting-purple-3: hsl(262, 69%, 31%);
	--supporting-purple-4: hsl(262, 60%, 38%);
	--supporting-purple-5: hsl(262, 48%, 46%);
	--supporting-purple-6: hsl(262, 43%, 51%);
	--supporting-purple-7: hsl(261, 47%, 58%);
	--supporting-purple-8: hsl(261, 54%, 68%);
	--supporting-purple-9: hsl(261, 68%, 84%);
	--supporting-purple-10: hsl(262, 61%, 93%);

	--supporting-red-1: hsl(360, 92%, 20%);
	--supporting-red-2: hsl(360, 85%, 25%);
	--supporting-red-3: hsl(360, 79%, 32%);
	--supporting-red-4: hsl(360, 72%, 38%);
	--supporting-red-5: hsl(360, 67%, 44%);
	--supporting-red-6: hsl(360, 64%, 55%);
	--supporting-red-7: hsl(360, 71%, 66%);
	--supporting-red-8: hsl(360, 77%, 78%);
	--supporting-red-9: hsl(360, 82%, 89%);
	--supporting-red-10: hsl(360, 100%, 97%);

	--supporting-yellow-1: hsl(43, 86%, 17%);
	--supporting-yellow-2: hsl(43, 77%, 27%);
	--supporting-yellow-3: hsl(43, 72%, 37%);
	--supporting-yellow-4: hsl(42, 63%, 48%);
	--supporting-yellow-5: hsl(42, 78%, 60%);
	--supporting-yellow-6: hsl(43, 89%, 70%);
	--supporting-yellow-7: hsl(43, 90%, 76%);
	--supporting-yellow-8: hsl(45, 86%, 81%);
	--supporting-yellow-9: hsl(45, 90%, 88%);
	--supporting-yellow-10: hsl(45, 100%, 96%);
}
