/**
 * Primary Colors
 */

:root {
	--primary-green-1: hsl(125, 86%, 14%);
	--primary-green-2: hsl(125, 73%, 20%);
	--primary-green-3: hsl(125, 56%, 29%);
	--primary-green-4: hsl(122, 47%, 35%);
	--primary-green-5: hsl(122, 39%, 41%);
	--primary-green-6: hsl(123, 35%, 51%);
	--primary-green-7: hsl(123, 38%, 63%);
	--primary-green-8: hsl(122, 42%, 75%);
	--primary-green-9: hsl(126, 49%, 84%);
	--primary-green-10: hsl(125, 65%, 93%);
}

/**
 * Neutral Colors
 */
:root {
	--neutral-1: hsl(0, 0%, 13%);
	--neutral-2: hsl(0, 0%, 23%);
	--neutral-3: hsl(0, 0%, 32%);
	--neutral-4: hsl(0, 0%, 38%);
	--neutral-5: hsl(0, 0%, 49%);
	--neutral-6: hsl(0, 0%, 62%);
	--neutral-7: hsl(0, 0%, 69%);
	--neutral-8: hsl(0, 0%, 81%);
	--neutral-9: hsl(0, 0%, 88%);
	--neutral-10: hsl(0, 0%, 97%);
}

/**
 * Supporting Colors
 */
:root {
	--supporting-purple-1: hsl(263, 85%, 18%);
	--supporting-purple-2: hsl(262, 72%, 25%);
	--supporting-purple-3: hsl(262, 69%, 31%);
	--supporting-purple-4: hsl(262, 60%, 38%);
	--supporting-purple-5: hsl(262, 48%, 46%);
	--supporting-purple-6: hsl(262, 43%, 51%);
	--supporting-purple-7: hsl(261, 47%, 58%);
	--supporting-purple-8: hsl(261, 54%, 68%);
	--supporting-purple-9: hsl(261, 68%, 84%);
	--supporting-purple-10: hsl(262, 61%, 93%);

	--supporting-red-1: hsl(360, 92%, 20%);
	--supporting-red-2: hsl(360, 85%, 25%);
	--supporting-red-3: hsl(360, 79%, 32%);
	--supporting-red-4: hsl(360, 72%, 38%);
	--supporting-red-5: hsl(360, 67%, 44%);
	--supporting-red-6: hsl(360, 64%, 55%);
	--supporting-red-7: hsl(360, 71%, 66%);
	--supporting-red-8: hsl(360, 77%, 78%);
	--supporting-red-9: hsl(360, 82%, 89%);
	--supporting-red-10: hsl(360, 100%, 97%);

	--supporting-yellow-1: hsl(43, 86%, 17%);
	--supporting-yellow-2: hsl(43, 77%, 27%);
	--supporting-yellow-3: hsl(43, 72%, 37%);
	--supporting-yellow-4: hsl(42, 63%, 48%);
	--supporting-yellow-5: hsl(42, 78%, 60%);
	--supporting-yellow-6: hsl(43, 89%, 70%);
	--supporting-yellow-7: hsl(43, 90%, 76%);
	--supporting-yellow-8: hsl(45, 86%, 81%);
	--supporting-yellow-9: hsl(45, 90%, 88%);
	--supporting-yellow-10: hsl(45, 100%, 96%);
}
