@import '../default-styles.css';

/**
 * Primary Colors
 */
:root {
	--primar-cyan-1: hsl(184, 91%, 17%);
	--primar-cyan-2: hsl(185, 84%, 25%);
	--primar-cyan-3: hsl(185, 81%, 29%);
	--primar-cyan-4: hsl(184, 77%, 34%);
	--primar-cyan-5: hsl(185, 62%, 45%);
	--primar-cyan-6: hsl(185, 57%, 50%);
	--primar-cyan-7: hsl(184, 65%, 59%);
	--primar-cyan-8: hsl(184, 80%, 74%);
	--primar-cyan-9: hsl(185, 94%, 87%);
	--primar-cyan-10: hsl(186, 100%, 94%);
}
/**
 * Neutral Colors
 */
:root {
	--neutral-1: hsl(209, 61%, 16%);
	--neutral-2: hsl(211, 39%, 23%);
	--neutral-3: hsl(209, 34%, 30%);
	--neutral-4: hsl(209, 28%, 39%);
	--neutral-5: hsl(210, 22%, 49%);
	--neutral-6: hsl(209, 23%, 60%);
	--neutral-7: hsl(211, 27%, 70%);
	--neutral-8: hsl(210, 31%, 80%);
	--neutral-9: hsl(212, 33%, 89%);
	--neutral-10: hsl(210, 36%, 96%);
}

/**
 * Supporting Colors
 */
:root {
	--supporting-indigo-1: hsl(234, 62%, 26%);
	--supporting-indigo-2: hsl(232, 51%, 36%);
	--supporting-indigo-3: hsl(230, 49%, 41%);
	--supporting-indigo-4: hsl(228, 45%, 45%);
	--supporting-indigo-5: hsl(227, 42%, 51%);
	--supporting-indigo-6: hsl(227, 50%, 59%);
	--supporting-indigo-7: hsl(225, 57%, 67%);
	--supporting-indigo-8: hsl(224, 67%, 76%);
	--supporting-indigo-9: hsl(221, 78%, 86%);
	--supporting-indigo-10: hsl(221, 68%, 93%);

	--supporting-pink-1: hsl(330, 79%, 20%);
	--supporting-pink-2: hsl(331, 74%, 27%);
	--supporting-pink-3: hsl(330, 70%, 36%);
	--supporting-pink-4: hsl(330, 68%, 40%);
	--supporting-pink-5: hsl(330, 63%, 47%);
	--supporting-pink-6: hsl(330, 66%, 57%);
	--supporting-pink-7: hsl(330, 72%, 65%);
	--supporting-pink-8: hsl(330, 77%, 76%);
	--supporting-pink-9: hsl(330, 87%, 85%);
	--supporting-pink-10: hsl(329, 100%, 94%);

	--supporting-red-1: hsl(360, 92%, 20%);
	--supporting-red-2: hsl(360, 85%, 25%);
	--supporting-red-3: hsl(360, 79%, 32%);
	--supporting-red-4: hsl(360, 72%, 38%);
	--supporting-red-5: hsl(360, 67%, 44%);
	--supporting-red-6: hsl(360, 64%, 55%);
	--supporting-red-7: hsl(360, 71%, 66%);
	--supporting-red-8: hsl(360, 77%, 78%);
	--supporting-red-9: hsl(360, 82%, 89%);
	--supporting-red-10: hsl(360, 100%, 97%);

	--supporting-yellow-1: hsl(43, 86%, 17%);
	--supporting-yellow-2: hsl(43, 77%, 27%);
	--supporting-yellow-3: hsl(43, 72%, 37%);
	--supporting-yellow-4: hsl(42, 63%, 48%);
	--supporting-yellow-5: hsl(42, 78%, 60%);
	--supporting-yellow-6: hsl(43, 89%, 70%);
	--supporting-yellow-7: hsl(43, 90%, 76%);
	--supporting-yellow-8: hsl(45, 86%, 81%);
	--supporting-yellow-9: hsl(45, 90%, 88%);
	--supporting-yellow-10: hsl(45, 100%, 96%);
}
