@import '../default-styles.css';

:root {
	/**
 * Primary Colors
 */
	--primary-yellow-1: hsl(15, 86%, 30%);
	--primary-yellow-2: hsl(22, 82%, 39%);
	--primary-yellow-3: hsl(29, 80%, 44%);
	--primary-yellow-4: hsl(36, 77%, 49%);
	--primary-yellow-5: hsl(42, 87%, 55%);
	--primary-yellow-6: hsl(44, 92%, 63%);
	--primary-yellow-7: hsl(48, 94%, 68%);
	--primary-yellow-8: hsl(48, 95%, 76%);
	--primary-yellow-9: hsl(48, 100%, 88%);
	--primary-yellow-10: hsl(49, 100%, 96%);

	--primary-blue-1: hsl(204, 96%, 27%);
	--primary-blue-2: hsl(203, 87%, 34%);
	--primary-blue-3: hsl(202, 83%, 41%);
	--primary-blue-4: hsl(201, 79%, 46%);
	--primary-blue-5: hsl(199, 84%, 55%);
	--primary-blue-6: hsl(197, 92%, 61%);
	--primary-blue-7: hsl(196, 94%, 67%);
	--primary-blue-8: hsl(195, 97%, 75%);
	--primary-blue-9: hsl(195, 100%, 85%);
	--primary-blue-10: hsl(195, 100%, 95%);

	/**
 * Neutral Colors
 */
	--neutral-1: hsl(0, 0%, 13%);
	--neutral-2: hsl(0, 0%, 23%);
	--neutral-3: hsl(0, 0%, 32%);
	--neutral-4: hsl(0, 0%, 38%);
	--neutral-5: hsl(0, 0%, 49%);
	--neutral-6: hsl(0, 0%, 62%);
	--neutral-7: hsl(0, 0%, 69%);
	--neutral-8: hsl(0, 0%, 81%);
	--neutral-9: hsl(0, 0%, 88%);
	--neutral-10: hsl(0, 0%, 97%);

	/**
 * Supporting Colors
 */
	--supporting-red-1: hsl(348, 94%, 20%);
	--supporting-red-2: hsl(350, 94%, 28%);
	--supporting-red-3: hsl(352, 90%, 35%);
	--supporting-red-4: hsl(354, 85%, 44%);
	--supporting-red-5: hsl(356, 75%, 53%);
	--supporting-red-6: hsl(360, 83%, 62%);
	--supporting-red-7: hsl(360, 91%, 69%);
	--supporting-red-8: hsl(360, 100%, 80%);
	--supporting-red-9: hsl(360, 100%, 87%);
	--supporting-red-10: hsl(360, 100%, 95%);

	--supporting-green-1: hsl(170, 97%, 15%);
	--supporting-green-2: hsl(168, 80%, 23%);
	--supporting-green-3: hsl(166, 72%, 28%);
	--supporting-green-4: hsl(164, 71%, 34%);
	--supporting-green-5: hsl(162, 63%, 41%);
	--supporting-green-6: hsl(160, 51%, 49%);
	--supporting-green-7: hsl(158, 58%, 62%);
	--supporting-green-8: hsl(156, 73%, 74%);
	--supporting-green-9: hsl(154, 75%, 87%);
	--supporting-green-10: hsl(152, 68%, 96%);
}
