@import '../default-styles.css';

/**
 * Primary Colors
 */
:root {
	--primary-red-1: hsl(360, 92%, 20%);
	--primary-red-2: hsl(360, 85%, 25%);
	--primary-red-3: hsl(360, 79%, 32%);
	--primary-red-4: hsl(360, 72%, 38%);
	--primary-red-5: hsl(360, 67%, 44%);
	--primary-red-6: hsl(360, 64%, 55%);
	--primary-red-7: hsl(360, 71%, 66%);
	--primary-red-8: hsl(360, 77%, 78%);
	--primary-red-9: hsl(360, 82%, 89%);
	--primary-red-10: hsl(360, 100%, 97%);

	--primary-yellow-1: hsl(15, 86%, 30%);
	--primary-yellow-2: hsl(22, 82%, 39%);
	--primary-yellow-3: hsl(29, 80%, 44%);
	--primary-yellow-4: hsl(36, 77%, 49%);
	--primary-yellow-5: hsl(42, 87%, 55%);
	--primary-yellow-6: hsl(44, 92%, 63%);
	--primary-yellow-7: hsl(48, 94%, 68%);
	--primary-yellow-8: hsl(48, 95%, 76%);
	--primary-yellow-9: hsl(48, 100%, 88%);
	--primary-yellow-10: hsl(49, 100%, 96%);
}

/**
 * Neutral Colors
 */
:root {
	--neutral-1: hsl(42, 15%, 13%);
	--neutral-2: hsl(40, 13%, 23%);
	--neutral-3: hsl(37, 11%, 28%);
	--neutral-4: hsl(41, 9%, 35%);
	--neutral-5: hsl(41, 8%, 48%);
	--neutral-6: hsl(41, 8%, 61%);
	--neutral-7: hsl(39, 11%, 69%);
	--neutral-8: hsl(40, 15%, 80%);
	--neutral-9: hsl(43, 13%, 90%);
	--neutral-10: hsl(40, 23%, 97%);
}

/**
 * Supporting Colors
 */
:root {
	--supporting-cyan-1: hsl(184, 91%, 17%);
	--supporting-cyan-2: hsl(185, 84%, 25%);
	--supporting-cyan-3: hsl(185, 81%, 29%);
	--supporting-cyan-4: hsl(184, 77%, 34%);
	--supporting-cyan-5: hsl(185, 62%, 45%);
	--supporting-cyan-6: hsl(185, 57%, 50%);
	--supporting-cyan-7: hsl(184, 65%, 59%);
	--supporting-cyan-8: hsl(184, 80%, 74%);
	--supporting-cyan-9: hsl(185, 94%, 87%);
	--supporting-cyan-10: hsl(186, 100%, 94%);

	--supporting-green-1: hsl(81, 86%, 14%);
	--supporting-green-2: hsl(81, 78%, 21%);
	--supporting-green-3: hsl(83, 74%, 27%);
	--supporting-green-4: hsl(83, 70%, 34%);
	--supporting-green-5: hsl(83, 64%, 42%);
	--supporting-green-6: hsl(83, 55%, 52%);
	--supporting-green-7: hsl(83, 63%, 61%);
	--supporting-green-8: hsl(83, 68%, 74%);
	--supporting-green-9: hsl(84, 77%, 86%);
	--supporting-green-10: hsl(83, 88%, 94%);
}
