/**
 * Primary Colors
 */
:root {
	--primary-cyan-1: hsl(184, 91%, 17%);
	--primary-cyan-2: hsl(185, 84%, 25%);
	--primary-cyan-3: hsl(185, 81%, 29%);
	--primary-cyan-4: hsl(184, 77%, 34%);
	--primary-cyan-5: hsl(185, 62%, 45%);
	--primary-cyan-6: hsl(185, 57%, 50%);
	--primary-cyan-7: hsl(184, 65%, 59%);
	--primary-cyan-8: hsl(184, 80%, 74%);
	--primary-cyan-9: hsl(185, 94%, 87%);
	--primary-cyan-10: hsl(186, 100%, 94%);
}

/**
 * Neutral Colors
 */
:root {
	--neutral-1: hsl(42, 15%, 13%);
	--neutral-2: hsl(40, 13%, 23%);
	--neutral-3: hsl(37, 11%, 28%);
	--neutral-4: hsl(41, 9%, 35%);
	--neutral-5: hsl(41, 8%, 48%);
	--neutral-6: hsl(41, 8%, 61%);
	--neutral-7: hsl(39, 11%, 69%);
	--neutral-8: hsl(40, 15%, 80%);
	--neutral-9: hsl(43, 13%, 90%);
	--neutral-10: hsl(40, 23%, 97%);
}

/**
 * Supporting Colors
 */
:root {
	--supporting-blue-1: hsl(205, 100%, 21%);
	--supporting-blue-2: hsl(205, 87%, 29%);
	--supporting-blue-3: hsl(205, 82%, 33%);
	--supporting-blue-4: hsl(205, 76%, 39%);
	--supporting-blue-5: hsl(205, 67%, 45%);
	--supporting-blue-6: hsl(205, 65%, 55%);
	--supporting-blue-7: hsl(205, 74%, 65%);
	--supporting-blue-8: hsl(205, 84%, 74%);
	--supporting-blue-9: hsl(205, 97%, 85%);
	--supporting-blue-10: hsl(205, 79%, 92%);

	--supporting-red-1: hsl(360, 92%, 20%);
	--supporting-red-2: hsl(360, 85%, 25%);
	--supporting-red-3: hsl(360, 79%, 32%);
	--supporting-red-4: hsl(360, 72%, 38%);
	--supporting-red-5: hsl(360, 67%, 44%);
	--supporting-red-6: hsl(360, 64%, 55%);
	--supporting-red-7: hsl(360, 71%, 66%);
	--supporting-red-8: hsl(360, 77%, 78%);
	--supporting-red-9: hsl(360, 82%, 89%);
	--supporting-red-10: hsl(360, 100%, 97%);

	--supporting-green-1: hsl(170, 97%, 15%);
	--supporting-green-2: hsl(168, 80%, 23%);
	--supporting-green-3: hsl(166, 72%, 28%);
	--supporting-green-4: hsl(164, 71%, 34%);
	--supporting-green-5: hsl(162, 63%, 41%);
	--supporting-green-6: hsl(160, 51%, 49%);
	--supporting-green-7: hsl(158, 58%, 62%);
	--supporting-green-8: hsl(156, 73%, 74%);
	--supporting-green-9: hsl(154, 75%, 87%);
	--supporting-green-10: hsl(152, 68%, 96%);

	--supporting-yellow-1: hsl(43, 86%, 17%);
	--supporting-yellow-2: hsl(43, 77%, 27%);
	--supporting-yellow-3: hsl(43, 72%, 37%);
	--supporting-yellow-4: hsl(42, 63%, 48%);
	--supporting-yellow-5: hsl(42, 78%, 60%);
	--supporting-yellow-6: hsl(43, 89%, 70%);
	--supporting-yellow-7: hsl(43, 90%, 76%);
	--supporting-yellow-8: hsl(45, 86%, 81%);
	--supporting-yellow-9: hsl(45, 90%, 88%);
	--supporting-yellow-10: hsl(45, 100%, 96%);
}
